<?php header("Content-type: text/css"); ?>

body {
	margin:0;
	background:#fff;
	color:#333;
}
h1, h2, h3, h4 {
	color:#00840;
}
blockquote {
	color:#008400;
}

.title {
	float: left;
	margin-left: 50px;
}

.user_menu {
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}

.user_options {
	float: right;
}

.user_option {
	color: #009;
	cursor: pointer;
	user-select: none;
}

.login {
	float: right;
	margin-top: 10px;
}

.action {
	color: #00F;
	cursor: pointer;
}

.actor_list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.namechange {
	font-size: 80%;
}

.not_logged_in p {
	margin-left:20px;
	text-align:center;
}

.list_title {
	margin: 0px;
}

ul.selectable {
	list-style-type:none;
	padding: 0px;
	margin: 5px;
}

li.selectable {
	cursor: pointer;
	padding-left: 5px;
}

li.selectable:hover {
	background: #EEEEFF;
}

li.selected {
	cursor: pointer;
	background: #AAAAFF;
}

li.selected:hover {
	background: #CCCCFF;
}

.deficient_locations {
	float: left;
	margin-right: 20px;
}

#actor_tabs {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

#actor_tabs li {
	display: block;
	float: left;
	padding: 2px 4px;
	margin: 0px;
	background: #CCF;
	cursor: pointer;
	border-top: 1px solid #000;
	border-bottom: 1px solid #888;
	border-left: 1px solid #000;
}

#actor_tabs li:last-child {
	border-right: 1px solid #000;
}

#actor_tabs li:hover {
	background: #BBF;
}

#actor_tabs li.current {
	background: #99F;
}

#actor_tabs li.current:hover {
	background: #AAF;
}

.popup_title {
	padding: 5px;
	background: #88F;
	margin-bottom: 5px;
}

.login_action {
	margin-top: 5px;;
}

.login_content {
    text-align: center;
}
